.container {
    width: 100%;
    height: 100%;
    
}
.login {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 112px 100px;
    background: #f2f4f7;
    min-width: 500px;
    width: 100%;
    height: 100%;
}

.containerLogo {
    width: 500px;
}

.logo img {
    width: 320px;
    height: 100px;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    width: 400px;

    form {
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 24px 32px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .ant-form-item {
        margin-bottom: 0 !important;
        width: 100%;
    }

    .input {
        width: 100%;
        padding: 10px;
    }

    button {
        width: 100%;
        align-self: flex-start;
        background-color: #2e81f4;
        color: white;
        padding: 10px;

        &:hover {
            background-color: blue;
        }
    }

    .ant-btn-link {
        color: blue;
        justify-content: center;
        align-items: center;
    }


}

.createAccount {
    color: white !important;
    background-color: #43ea67;
    text-align: center;

    &:hover {
        background-color: green !important;
        color: white !important;
    }
}

.line {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}